<p>Votre code de vérification est :</p>
<h2>{{code}}</h2>
<p>Ce code de vérification est valable pendant 10 minutes. Ne partagez pas ce code avec d'autres personnes !</p>
<font color='grey'>Cet e-mail a été envoyé automatiquement par le système, veuillez ne pas y répondre.</font>